#forum-body {
  min-height: 90vh;
}

.forum-button {
  background-color: #91e460;
  border: 2px solid black;
  border-radius: 20px;
  float: right;
}

.forum-button:hover {
  background-color: whitesmoke;
}

.card {
  background-color: whitesmoke;
  border: none;
}

.media-box {
  width: 90%;
}

.tag {
  background-color: #e2e2e2;
  border-radius: 15px;
}

.tag a, .tag a:hover{
  color: black;
}
