{% extends 'base.html' %} 
{% load static %} 

{% block head %}
    <title>Home Page</title>
    <link rel="stylesheet" href="{% static 'home/css/home.css'%}"> 
{% endblock %} 

{% block content %}
    <section id="home-body">
        <div class="row m-0 px-0 py-5 banner">
            <div class="col-md-7 order-1 order-md-2 mx-0 mb-5 p-0 d-flex justify-content-center align-items-center">
                <div class="container d-flex justify-content-center align-items-center banner-image-box">
                    <img src="{% static 'images/banner_img.svg'%}" class="banner-image" alt="">
                </div>
            </div>
            <div class="col-md-5 order-2 order-md-1 d-flex justify-content-center align-items-center mx-0 mb-5 px-2 px-sm-5 pr-md-0 home-heading">
                <div class="container">
                    <h1>CODE TO ENHANCE LEARNING</h1>
                    <div class="heading-underline mb-3 mx-auto mx-md-0"></div>
                    <p class="home-subtitle">
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. A iste tempore eum aspernatur earum et, dicta nihil qui sequi maiores, incidunt distinctio error delectus praesentium aperiam laboriosam, suscipit nemo!
                    </p>
                </div>
            </div>
        </div>
    </section>
{% endblock %} 