{% extends 'base.html' %}
{% load static %}

{% block head %}
    <title>Leaderboard</title>
    <link rel="stylesheet" href="{% static 'home/css/leaderboard.css'%}">
{% endblock %}

{% block content %}
    <section id="leaderboard-body">
        <div class="container">
            <h1 class="mx-auto heading mt-5 shadow">Leaderboard</h1>
            <table class="table table-dark table-hover text-white mx-auto my-5 shadow leaderboard-table">
                <th>
                    <td>Username</td>
                    <td>Challenges Won</td>
                </th>
                {% for winner in winners %}
                <tr>
                    <td>{{forloop.counter}}</td>
                    <td>{{winner.username}}</td>
                    <td>
                        {% for challenge in winner.challenges_won.all %}
                            {% if forloop.counter is winner.challenges_won.count %}
                                {{challenge.challenge_name}}
                            {% else %}
                                {{challenge.challenge_name}},
                            {% endif %}
                        {% endfor %}
                    </td>
                </tr>
                {% endfor %}
            </table>
        </div>        
    </section>
{% endblock %}